@{
    ViewData["Title"] = "Home";
}

<main>

    <figure>
        <img src="images/windingroad.jpg" alt="winding road" />
    </figure>
   
    <ul>
        <li>Specialty Coffee and Tea</li>
        <li>Bagels, Muffins, and Organic Snacks</li>
        <li>Music and Poetry Readings</li>
        <li>Open Mic Night</li>
    </ul>
    <div>
        12312 Main Street<br>
        Mountain Home, CA 93923<br>
        <a href="callto:1-888-555-5555">1-888-555-5555</a>
        <br>
        <br>
    </div>
</main>